* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
}

.App h1 {
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.left-side {
  width: 30%;
}

.right-side {
  padding-left: 20px;
  width: 70%;
}